<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <title>Planeta & Carbono - Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Link para acessar o CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
        <!--Link para acessar o JavaScript-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/Scripts.js') }}"></script>
    </head>

    <body>

        <!--Âncora-->
        <a name id = "irHome"></a>
        <!--Âncora-->
        <a name id = "voltarTopo"></a>
        <!--Parte da barra superior do site-->
        <header>

            <!--Logo do site "Planeta&Carbono"-->
            <div class="Logo">
                <a href="{{ url_for('index') }}"> <span class="Titulo1">Planeta&</span><span class="Titulo2">Carbono</span></a>
            </div>

            <!--Menu superior-->
            <nav>
                <ul>
                    <!--Botão para alterar para a versão branca do site-->
                    <button class="Barra" id = "planeta" onclick = ""></button>
                    <a href="{{ url_for('index') }}#irQuemSomos" class = "Barra">Quem Somos</a>
                    <a href="{{ url_for('contato') }}" class = "Barra">Contato</a>
                    <a href="{{ url_for('index') }}" class = "Barra">Home</a>
                </ul>
            </nav>

        </header>

        <!--Página Home do site-->
        <!--Seção 1-->
        <section id="container1">
            <div id="Introducao1">

                <!--Texto introdutório-->
                <span class="Titulo2">Calcule a sua emissão de carbono de alimentos</span><span class="Titulo1"> com a nossa calculadora online</span>

                <br>

                <!--Botão que vai para a seção de calcular-->
                <div class="Botao">
                    <a href="#irPerguntas1">
                        <Button id="btnIrCalcular">Calcular!</Button>
                    </a>
                </div>

            </div>
        </section>

        <!--Seção 2-->
        <section id="container2">
            <!--Âncora-->
            <a name = "irQuemSomos"></a>
            <!--Âncora-->
            <a name = "irSecao2"></a>
            <!--Título-->
            <div class="Titulo6">
                <h1 id = "quemSomos">Quem Somos</h1>
            </div>
            <!--Texto com os objetivos do site-->
            <div class="Texto1">
                <p>
                    <span class="Titulo1">Neste site, você encontrará a nossa</span>
                    <span class="Titulo2">calculadora de crédito de carbono,</span>
                    <span class="Titulo1"> que irá calcular sua emissão de carbono e oferecer dicas para um estilo de vida mais </span>
                    <span class="Titulo2">saudável e sustentável.</span>
                </p>
            </div>
                <!--Botão que volta para a primeira seção-->
                <div class="Botao">
                    <a href="#irHome">
                        <Button id="btnVoltar1">Voltar</Button>
                    </a>
                </div>
                <!--Botão que vai para a seção de calcular-->
                <div class="Botao">
                    <a href="#irPerguntas1">
                        <Button id="btnProximo1">Próximo</Button>
                    </a>
                </div>
        </section>

        <!--Seção 3-->
        <section id="container3">
            <!--Âncora-->
            <a name="irPerguntas1"></a>
            <!--Âncora-->
            <a name = "irSecao3"></a>
            <!--Pergunta 1-->
            <div class="Texto2">
                <form>
                    <label for="carneBovina"> <span class="Titulo1">Quantos quilos de <span class="Titulo2">carne
                                bovina</span> você consome por semana?</span></label>
                    <br>
                    <input type="number" id="carneBovina" name="carneBovina" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 2-->
            <div class="Texto2">
                <form>
                    <label for="carneSuina"> <span class="Titulo1">Quantos quilos de <span class="Titulo2">carne
                                suína</span> você consome por semana?</span></label>
                    <br>
                    <input type="number" id="carneSuina" name="carneSuina" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 3-->
            <div class="Texto2">
                <form>
                    <label for="frango"> <span class="Titulo1">Quantos quilos de <span class="Titulo2">frango</span>
                                    você consome por semana?</span></label>
                    <br>
                    <input type="number" id="frango" name="frango" min="0" placeholder="0">
            </form>
            
            </div>

            <!--Botão que volta para a segunda seção-->
            <div class="Botao">
                <a href="#irSecao2">
                    <Button id="btnVoltar2">Voltar</Button>
                </a>
            </div>
            <!--Botão que vai para as próximas perguntas-->
            <div>
                <a href="#irPerguntas2">
                    <Button id="btnProximo2">Próximo</Button>
                </a>
            </div>
        </section>

        <!--Seção 4-->
        <section id="container4">
            <!--Âncora-->
            <a name="irPerguntas2"></a>
            <!--Âncora-->
            <a name = "irSecao4"></a>
            <!--Pergunta 4-->
            <div class="Texto2">
                <form>
                    <label for="peixe"> <span class="Titulo1">Quantos quilos de <span class="Titulo2">peixe</span>
                            você consome por semana?</span></label>
                    <br>
                    <input type="number" id="peixe" name="peixe" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 5-->
            <div class="Texto2">
                <form>
                    <label for="arroz"> <span class="Titulo1">Quantas quilos<br> de <span class="Titulo2">arroz</span> você
                            consome por semana?</span></label>
                    <br>
                    <input type="number" id="arroz" name="arroz" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 6-->
            <div class="Texto2">
                <form>
                    <label for="ovo"> <span class="Titulo1">Quantas unidades <br> de <span class="Titulo2">ovo</span> você
                            consome por semana?</span></label>
                    <br>
                    <input type="number" id="ovo" name="ovo" min="0" placeholder="0">
                </form>
            </div>

            <!--Botão que volta para a terceira seção-->
            <div class="Botao">
                <a href="#irSecao3">
                    <Button id="btnVoltar3">Voltar</Button>
                </a>
            </div>
            <!--Botão que vai para as próximas perguntas-->
            <div>
                <a href="#irPerguntas3">
                    <Button id="btnProximo3">Próximo</Button>
                </a>
            </div>
        </section>

        <!--Seção 5-->
        <section id="container5">
            <!--Âncora-->
            <a name="irPerguntas3"></a>
            <!--Âncora-->
            <a name = "irSecao5"></a>
            <!--Pergunta 7-->
            <div class="Texto2">
                <form>
                    <label for="cafe"> <span class="Titulo1">Quantos litros de <span class="Titulo2">café </span>
                            você consome por semana?</span></label>
                    <br>
                    <input type="number" id="cafe" name="cafe" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 8-->
            <div class="Texto2">
                <form>
                    <label for="leite"> <span class="Titulo1">Quantos litros de <span class="Titulo2">leite</span>
                            você consome por semana?</span></label>
                    <br>
                    <input type="number" id="leite" name="leite" min="0" placeholder="0">
                </form>
            </div>
            <!--Pergunta 9-->
            <div class="Texto2">
                <form>
                    <label for="agua"> <span class="Titulo1">Quantos litros de <span class="Titulo2">água</span>
                            você consome por semana?</span></label>
                    <br>
                    <input type="number" id="agua" name="agua" min="0" placeholder="0">
                </form>
            </div>

            <!--Botão que volta para a quarta seção-->
            <div class="Botao">
                <a href="#irSecao4">
                    <Button id="btnVoltar4">Voltar</Button>
                </a>
            </div>
            <!--Botão que vai para as próximas perguntas-->
            <div>
                <a href="#irResultados">
                    <Button id="btnResultado" onclick = "calcularEmissao()">Calcular</Button>
                </a>
            </div>
        </section>

            <!-- Seção de cálculo e resultado -->
    <section id="container6">
        <a name="irResultados"></a>
        <div class="Texto5">
            <h1 id="seuResultado">Resultados</h1>
        </div>
        <div class="Texto6">
            <p class="Titulo1">Você emite um total de <span id="resultadoEmissao"></span> kg de gases de efeito estufa anualmente.</p>
        </div>
    </section>

            <!--Botão que volta para a quinta seção-->
            <div class="Botao">
                <a href="#irSecao5">
                    <Button id="btnVoltar5">Voltar</Button>
                </a>
            </div>
            <!--Botão que vai para as próximas perguntas-->
            <div>
                <a href="#irDicas">
                    <Button id="btnDicas">Ver Dicas</Button>
                </a>
            </div>
        </section>

        <!--Seção 7-->
        <section id="container7">
            <!--Âncora-->
            <a name = "irSecao7"></a>
            <a name = "irDicas"></a>
            <div class="Texto7">
                <h1 class="Titulo5">Algumas dicas para uma alimentação mais saudável</h1>
            </div>
            <!--Primeira dica-->
            <div class="Texto10">
                <p class="Titulo1">
                    Comer muita carne vermelha não faz bem para a saúde, isso porque pode aumentar as
                    chances de ter problemas no coração, diabetes e até mesmo alguns tipos de câncer, como o câncer
                    de intestino.
                </p>    
            </div>
            <!--Segunda dica-->
            <div class="Texto11">
                <p class="Titulo1">
                    Prefira métodos de preparo mais saudáveis como grelhados, assados e cozidos.
                </p>
            </div>
            <!--Terceira dica-->
            <div class="Texto12">
                <p class="Titulo1">
                    Evite frituras e alimentos processados, pois aumentam o teor de gordura e sódio.
                </p>
            </div>
            <!--Quarta dica-->
            <div class="Texto13">
                <p class="Titulo1">
                    Opte por cortes como patinho, contra filé e filé mignon, que possuem menor
                    quantidade de gordura.
                </p>
            </div>
            <!--Botão que volta para a sexta seção-->
            <div class="Botao">
                <a href="#irSecao6">
                    <Button id="btnVoltar6">Voltar</Button>
                </a>
            </div>
        </section>

        <!--Parte da barra inferior do site-->
        <footer>
            
<!--Menu inferior-->
<nav>
    <ul>
        <!--Você será redirecionado para a página Home-->
        <a href="{{ url_for('index') }}" class="Bot1">Home</a>
        <!--Você será redirecionado para a página Contato-->
        <a href="{{ url_for('contato') }}" class="Bot">Contato</a>
        <!--Você será redirecionado para a página Quem Somos-->
        <a href="#irQuemSomos" class="Bot">Quem Somos</a>
        <!--Você será redirecionado para a página Mapa do Site-->
        <a href="{{ url_for('mapa_site') }}" class="Bot">Mapa do Site</a>
        <!--Você voltará para o topo da página Home-->
        <a href="#voltarTopo" class="Bot">Voltar ao topo</a>
    </ul>
</nav>

            <p class="Bot2">Copyright © 2024 - Todos os direitos reservados.</p>
        
        </footer>
    </body>
</html>