<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Planeta & Carbono - Contato</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link para acessar o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
    <!-- Link para acessar o JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/Scripts.js') }}"></script>
</head>

<body id="BodyContato">

    <!-- Parte superior do site -->
    <header>

        <!-- Logo do site "Planeta&Carbono" -->
        <div class="Logo">
            <a href="{{ url_for('index') }}">
                <span class="Titulo1">Planeta&</span><span class="Titulo2">Carbono</span>
            </a>
        </div>

        <!-- Menu superior -->
        <nav>
            <ul>
                <!-- Botão para alterar para a versão branca do site -->
                <button class="Barra" id="planeta" onclick=""></button>
                <a href="{{ url_for('index') }}#irQuemSomos" class="Barra">Quem Somos</a>
                <a href="{{ url_for('contato') }}" class="Barra">Contato</a>
                <a href="{{ url_for('index') }}" class="Barra">Home</a>
            </ul>
        </nav>
    </header>

    <div class="ContatoE">
        <a href="https://github.com/Valterntsbr" target="_blank" rel="noopener noreferrer"><button class="Github"></button></a>
        <br>
        <p class="Texto14">Valter Antonio</p>
        <br>
        <a href="mailto:valterntsbr@gmail.com" target="_blank" rel="noopener noreferrer"><button class="Gmail"></button></a>
        <br>
        <a href="#" target="_blank" rel="noopener noreferrer"><button class="Linkedin"></button></a>
    </div>

    <div class="ContatoC">

        <a href="https://github.com/Kaue-Oliveira19" target = "_blank"><button class="Github"></button></a>
        <br>
        <p class="Texto14">Kauê Oliveira</p>
        <br>
        <a href="mailto:kaueoliveira3002@gmail.com" target = "_blank"><button class="Gmail"></button></a>
        <br>
        <a href="https://www.linkedin.com/in/kau%C3%AA-oliveira-5a2017259/" target = "_blank"><Button class = "Linkedin"></Button></a>
    </div>

    <div class="ContatoC">
        <a href="https://github.com/PhOlivs" target = "_blank"><button class="Github"></button></a>
        <br>
        <p class="Texto14">Paulo Henrique</p>
        <br>
        <a href="mailto:paulohenrique58432@gmail.com" target = "_blank"><button class="Gmail"></button></a>
        <br>
        <a href="https://www.linkedin.com/in/paulo-henrique-6720762b2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target = "_blank"><Button class="Linkedin"></Button></a>
    </div>

    <div class="ContatoC">
        <a href="https://github.com/soleralucas" target = "_blank"><button class="Github"></button></a>
        <br>
        <p class="Texto14">Lucas Pereira</p>
        <br>
        <a href="mailto:lucassolera2006@gmail.com" target = "_blank"><button class="Gmail"></button></a>
        <br>
        <a href="https://www.linkedin.com/in/lucas-pereira-solera-8792ab226/" target = "_blank"><Button class="Linkedin"></Button></a>
    </div>

    <div class="ContatoD">
        <a href="https://github.com/ThgCastro" target = "_blank"><button class="Github"></button></a>
        <br>
        <p class="Texto14">Thiago Nascimento</p>
        <br>
        <a href="mailto:nascimentocastro989@gmail.com" target = "_blank"><button class="Gmail"></button></a>
        <br>
        <a href="https://www.linkedin.com/in/thiago-c-0615a3225?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target = "_blank"><Button class="Linkedin"></Button></a>
    </div>

    <!-- Parte inferior do site -->
    <footer>
        
        <!--Menu inferior-->
        <nav>
            <ul>
                <!--Você será redirecionado para a página Home-->
                <a href="{{ url_for('index') }}" class="Bot1">Home</a>
                <!--Você será redirecionado para a página Contato-->
                <a href="{{ url_for('contato') }}" class="Bot">Contato</a>
                <!--Você será redirecionado para a página Quem Somos-->
                <a href="{{ url_for('index') }}#irQuemSomos" class="Bot">Quem Somos</a>
                <!--Você será redirecionado para a página Mapa do Site-->
                <a href="{{ url_for('mapa_site') }}" class="Bot">Mapa do Site</a>
            </ul>
        </nav>

        <p class="Bot2">Copyright © 2024 - Todos os direitos reservados.</p>
    </footer>

</body>
</html>