<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <title>Planeta & Carbono - Mapa do Site</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Link para acessar o CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
        <!--Link para acessar o JavaScript-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/Scripts.js') }}"></script>
    </head>

    <body>

        <!--Âncora-->
        <a name = "irHome"></a>
        <!--Âncora-->
        <a name = "voltarTopo"></a>
        <!--Parte da barra superior do site-->
        <header>

            <!--Logo do site "Planeta&Carbono"-->
            <div class="Logo">
                <a href="{{ url_for('index') }}"> <span class="Titulo1">Planeta&</span><span class="Titulo2">Carbono</span></a>
            </div>

            <!--Menu superior-->
            <nav>
                <ul>
                    <!--Botão para alterar para a versão branca do site-->
                    <button class="Barra" id = "planeta" onclick = ""></button>
                    <a href="{{ url_for('index') }}#irQuemSomos" class = "Barra">Quem Somos</a>
                    <a href="{{ url_for('contato') }}" class = "Barra">Contato</a>
                    <a href="{{ url_for('index') }}" class = "Barra">Home</a>
                </ul>
            </nav>

        </header>

        <div class="Texto15">
            <p class="Titulo2">
                Mapa do Site
            </p>
    
            <br>
            <br>
    
            <p class="Titulo3"> 
                Nesta pagina você verá com ultilizar da melhor forma nossa calculadora de credito de carbono, bem como o site em si!
            </p>
    
            <br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você a pagina inicial do site, na parte superior você vera alguns menus, como Home, Contato e Quem somos, clicando neles você será redirecionado para uma determinada página ou parte do site, descendo um pouco mais você verá uma introdução rápida sobre oque é o site e um botão escrito “calcular” ao clicar nele você começara a responder algumas perguntas sobre alimentação que seira o foco do site, descendo um pouco mais você verá o rodapé do site, la aparece os mesmos botões do topo só que com outros dois a mais, mapa do site (está pagina) e voltar para o topo, esse voltar para o topo é uma “ancora” que ira te levar para o início do site novamente.
            </p>
    
            <br>
    
            <img src="{{ url_for('static', filename='Imagens/Img1.png') }}" alt="">

            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo, você vera a pagina “Quem Somos” nela está nosso objetivo, e 2 botões um "Voltar" e "Proximo" clicando em voltar você volta para a pagina inicial, clicando em proximo você ira para a primeira seção de perguntas.
            </p>
    
            <br>
            <br>
    
            <img src="{{ url_for('static', filename='Imagens/Img2.png') }}" alt="">

            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você vera algumas perguntas, e 2 botões um "Voltar" e "Proximo" clicando em voltar você volta para "Quem somos", clicando em proximo você ira para a proxima seção.
            </p>
    
            <br>
            <br>
    
            <img src="{{ url_for('static', filename='Imagens/Img3.png') }}" alt="">

            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você vera algumas perguntas, e 2 botões um "Voltar" e "Proximo" clicando em voltar você volta para a seção de perguntas anteriores, clicando em proximo você ira para a ultima seção de perguntas.
            </p>
    
            <br><br>
    
            <img src="{{ url_for('static', filename='Imagens/Img4.png') }}" alt="">

    
            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você vera algumas perguntas, e 2 botões um "Voltar" e "Calcular" clicando em voltar você volta para a seção de perguntas anteriores, clicando em Calcular você ira ver o resultado das suas respostas.
            </p>
    
            <br><br>
    
            <img src="{{ url_for('static', filename='Imagens/Img5.png') }}" alt="">

            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você verá a seção "Resultado", nesta pagina você consegue ver o resultado das suas respostas, e 2 botões um "Voltar" e "Ver dicas" clicando em voltar você volta para a seção de perguntas anteriores, clicando em Ver dicas você verá algumas dicas sobre alimentação.
            </p>
    
            <br><br>
    
            <img src="{{ url_for('static', filename='Imagens/Img6.png') }}" alt="">

            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você recebera algumas dicas para uma melhor alimentação, e 1 botão "Voltar" clicando em voltar você volta para a seção de resultado.
            </p>
    
            <br><br>
    
            <img src="{{ url_for('static', filename='Imagens/Img7.png') }}" alt="">
    
            <br><br><hr><br>
    
            <p class="Titulo3">
                Na imagem abaixo você verá a pagina "Contato", nestá pagina está todos os nossos contatos como, Github, Email e Linkedin.
            </p>
    
            <br><br>
    
            <img src="{{ url_for('static', filename='Imagens/Img8.png') }}" alt="">
        </div>

        <!--Parte da barra inferior do site-->
        <footer>

<!--Menu inferior-->
<nav>
    <ul>
        <!--Você será redirecionado para a página Home-->
        <a href="{{ url_for('index') }}" class="Bot1">Home</a>
        <!--Você será redirecionado para a página Contato-->
        <a href="{{ url_for('contato') }}" class="Bot">Contato</a>
        <!--Você será redirecionado para a página Quem Somos-->
        <a href="#irQuemSomos" class="Bot">Quem Somos</a>
        <!--Você será redirecionado para a página Mapa do Site-->
        <a href="{{ url_for('mapa_site') }}" class="Bot">Mapa do Site</a>
        <!--Você voltará para o topo da página Home-->
        <a href="#voltarTopo" class="Bot">Voltar ao topo</a>
    </ul>
</nav>

            <p class="Bot2">Copyright © 2024 - Todos os direitos reservados.</p>

        </footer>
    </body>
</html>